@charset "UTF-8";

@font-face {
  font-family: idroid;
  src: url(../fonts/idroid.otf);
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  --cor0: #ebe5c5;
  --cor1: #83E1AD;
  --cor2: #30dc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --font-padrao: Arial, Verdana, Helvetica, sans-serif;
  --font-destaque: 'Bebas Neue', sans-serif;
  --font-android: 'Idroid', cursive;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--cor0);
  font-family: var(--font-padrao);
}

.externo::after{
  content: '\1f517';
  opacity: .6;
}
#ext{
  color: #229057;
  text-decoration: underline;
  font-style: italic;
}

header{
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}

header h1{
  text-transform: uppercase;
  color: white;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
  padding-bottom: 20px;
  letter-spacing: -4px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.42);
}
header p{
  font-family: var(--font-padrao);
  font-size: 1.1em;
  color: white;
  max-width: 600px;
  padding: 0 10px 0 10px;
  margin: auto;
  padding-bottom:40px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.42);
}

nav{
  background-image: linear-gradient(to top, #2fa866, #1a5c37,#063d1e);
  padding: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.479);
  text-align: center
}

nav a{
  color: var(--cor0);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-size: .9em;
}
.box{
  margin-left: 40px;
}

nav a:hover{
  background-image: linear-gradient(to top, #063d1e, #6ce4a0,#063d1e);
  color: black;
  border-radius: 10px;
  transition-duration: .5s;
}

main{
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
  border-radius: 0 0 10px 15px;
}

main h1{
  color: var(--cor5);
  font-family: var(--font-android);
  font-weight: normal;
  letter-spacing: -1px;
}

main h2{
  font-family: var(--font-android);
  color: var(--cor4);
  font-size: 1.3em;
  font-weight: normal;
  background-image: linear-gradient(to right, #cffde4, transparent);
  text-indent: 8px;
}

main p{
  margin: 15px 0;
  text-align: justify;
  text-indent: 30px;
  line-height: 1.9em;
  font-size: 1.05em;
}

main strong{
  color: var(--cor4);
  font-weight: bold;
  font-size: 1.06em;
}

main a{
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  color: var(--cor5);
  background: var(--cor1);
  padding: 2px 6px;
  border-radius: 5px;
}
main a:hover{
  background: var(--cor3);
  color: white;
}

main img{
  width: 100%;
}

.bugdroid{
  display: block;
  margin: auto;
  max-width: 350px;
}

aside{
  background: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.354);
}
aside h3{
  background: var(--cor4);
  color: white;
  font-weight: normal;
  padding: 10px;
  margin: -10px -10px 0 -10px;
  border-radius: 10px 10px 0 0;
}

ul{
  list-style-type: '\2714\0020\0020';
  columns: 2;
  list-style-position: inside;
  color: black;
  /* background: white; */
  padding: 20px;
  font-size: .9em;
}

div.video{
  position:relative;
  background-color: var(--cor4);
  height: 0;
  padding-bottom: 59%;
}
div.video iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

footer{
  background: var(--cor5);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}
footer a{
  color: white;
  font-weight: bolder;
  text-decoration: none;
}
footer a:hover{
  color: var(--cor1);
  text-decoration: underline;
}